body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.starter-bgImg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1554679665-f5537f187268?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
}
.starter-button {
  width: 80%;
  height: 50px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
}

.err-msg {
  color: red;
}

/* ----------------------------------🍗🧀🌮
------------------------RESTAURANT NAV BAR */
.navBar {
  background-color: aqua;
}

.navBar img {
  border-radius: 50%;
  width: 12vw;
}

/* ----------------------------------🍗🧀🌮
------------------------CUSTOMER NAV BAR */

.customerNavItem {
  padding-right: 15px;
  cursor: pointer;
  padding-left: 15px;
}

.customerNavBar {
  justify-content: space-between;
  /* position: sticky; not working */
  position: fixed;
  background-color: white;
  box-shadow: 0 4px 8px #f1f0fc;
  z-index: 3;
  height: 45px;
  align-items: center;
}

.customerNavBarRight {
  display: flex;
  justify-content: flex-end;
  margin-right: 5vw;
}

#navItemCart {
  border-right: none;
}

.searchBarItem {
  display: inline;
  padding-right: 20px;
}

.searchBarItem #searchButton {
  background-color: gray;
}

.space {
  height: 55px;
}

/* ----------------------------------🍗🧀🌮
------------------------CUSTOMER HOME */

/* ------------------------NAME,DATE,GUESTS */

.searchSection {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}
.homeSearchBar {
  /* background-color: gray; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
  height: 10vh;
}

/* ------------------------BODY */
.imageSection {
  margin-top: 20px;
  position: relative;
}

.imageSection img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  object-position: 50% 75%;
}

.imageSection .imageText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 25px;
}

.filterPanel {
  position: sticky;
  z-index: 2;
  top: 5rem;
  padding-left: 2vw;
}

.filterCuisineForm {
  width: 200px;
}

.restaurantCardSection {
  display: flex;
}

.restaurantCard #cardName {
  line-height: 1.4em;
  height: 2.8em;
  max-height: 2.8em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.restaurantCard #cardCuisine {
  line-height: 1.4em;
  height: 1.4em;
  max-height: 1.4em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ------------------------RESTAURANT DETAILS PAGE */
.restaurantImgLeft {
  width: 100%;
  max-height: 60vh;
}
.restaurantImgRight {
  width: 100%;
  max-height: 29vh;
}

.detailsRating {
  display: flex;
}

.detailsRating #numberOfReviews {
  font-weight: 500;
  text-decoration: underline;
  margin-left: 20px;
}

#phone {
  display: inline;
}
#hours {
  display: inline;
}

.menuCategory {
  display: inline;
  margin-right: 30px;
  cursor: pointer;
}

.MuiDataGrid-row img {
  width: 100px;
  height: 90px;
  object-fit: cover;
  border-radius: 50%;
}

.addtocart {
  padding-top: 20px;
  float: right;
}

.bookingPanel {
  padding-left: 30px;
  position: sticky;
  z-index: 2;
  top: 5rem;
}

.bookingPanel .selectedSlot {
  background-color: gray;
}
